<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

  <context id="MySql" defaultModelType="flat" targetRuntime="MyBatis3Simple">

    <plugin type="org.mybatis.generator.plugins.SerializablePlugin" />
    <plugin type="org.mybatis.generator.plugins.MapperAnnotationPlugin" />
    <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://127.0.0.1:3306/fxx_edu" userId="root" password="jiangye089" />

    <javaModelGenerator targetPackage="com.example.demo.dao" targetProject="src/main/java">
      <property name="immutable" value="false" />
      <!-- 该属性只对MyBatis3有效，如果true就会使用构造方法入参，如果false就会使用setter方式。默认为fals -->
      <property name="constructorBased" value="false" />
    </javaModelGenerator>

    <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources"></sqlMapGenerator>

    <javaClientGenerator targetPackage="com.example.demo.mapper" targetProject="src/main/java" type="XMLMAPPER"></javaClientGenerator>

    <table tableName="fx_user">
      <!-- <property name="modelOnly" value="false" /> -->
    </table>

  </context>

</generatorConfiguration>